.navbar-top{
    min-height:50px;
    background-color:rgb(233, 17, 64);
}

.search{
   padding-top:25px;
}
.search input{
    width:600px;
    height:40px;
    border:none;
}

.search button{
    height:40px;
    width:90px;
    border:none;
    background-color:rgb(20, 20, 20);
    color:white;
}

.cart-icon{
    padding-top:35px;
    color:white;

}

#footer{
     
    min-height:300px;
    background-color:rgb(0, 0, 0);
    position: relative;
    top:80px;
}

#connect{
   color:white;
   font-size:20px;
   padding-top:20px;
   padding-left:40px;
}

.icons{
   padding-left:60px;
}

.icon{
    display:inline-block;
    width:30px;
    height:30px;
    background-color:#f1f1f1;
   border-radius:10px;
   
    box-shadow: 0 5px 15px -5px #00000070;
    color:white;
    overflow:hidden;
    position: relative;
}

.icon i{
 
   padding-left:5px;
    font-size:20px;
    transition: 0.2s linear;
}




.icon:hover i{
   
   transform: scale(1.3);
}


.e-mail{
    padding-left:600px;
}



button:hover{
    transition:0.2s all;
    background-color:rgb(32, 78, 117);
}

.col-1{
    color:white;
}

.footer-top h1{
    color:white;
    font-size:13pt;
}

.footer-links ul li{
    list-style-type: none;
}
.footer-links ul li a{
    text-decoration: none;
    color:white;
}

.subscribe{
    padding-top:15px;
}

.fab-icons{
    padding-top:15px;
}

.user-login{
    min-height:400px;
    background-color: rgb(241, 238, 238);
    margin-top:70px;
}

.inner-login{
    min-height:300px;
    background-color: white;
    position:relative;
    top:40px;
    border:1px solid silver;
    border-left:none;
    border-top:none;
    border-bottom: none;
}

.inner{
    min-height:300px;
    background-color: white;
    position:relative;
    top:40px;
}

.connect-media{
    padding-left:10px;
    padding-right:10px;
}
.inner button{
    width:100%;
    border:none;
    height:50px;
    margin-top:10px;
    color:white;
}

.inner-login li{
    list-style-type: none;
    padding-top:10px;
    padding-left:160px;
    
}

.inner-login li a{
    text-decoration: none;
    color:rgb(2, 81, 146);
    
    
}
.validation{
    padding-left:10px;
    border:1px solid silver;
  
}

.email-login{
    padding-left:10px;
}

.pass-login{
    padding-left:10px;
    padding-top:5px;
}
.submission{
    padding-left:10px;
    
}
.submit1{
   border:none;
   background-color:orangered;
   color:white;
   

}

.footer-content p{
    color:white;
    text-align: center;
}